/* This file should be reviewed. It's not optimal, but it works for now. */
.navbar {
    display: list-item;
}

/* Highlighting rules for nav menu items */
.nav-item a.active,
.nav-item a.active:hover,
.nav-item a.active:focus {
    background-color: #4189C7;
    color: white;
    text-decoration: underline;
}

.nav-item a,
.nav-item a:hover,
.nav-item a:focus {
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }    
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar-collapse ul {
        float: none;
    }
    .nav-item {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .nav-item a {
        padding: 10px 16px;
        border-radius: 4px;
        color: white;
    }
    
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 95%; /* Bug to fix here. Width 100% overflow. */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

div.header {
    background-color: #336699;
}

    div.header a, div.header a:visited, div.header a:hover, div.header a:active {
        color: #fff;
    }

.container {
    max-width: 960px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}


.btn-primary {
    color: #fff;
    background-color: #3973ac;
    border-color: #2d5986;
}

a {
    color: #336699;
}

div.folder-container {
    border: 1px solid #ddd;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


div.CodeMirror {
    border: 1px solid #ccc;
    border-radius: 5px;
}

div.full-screen-editor div.CodeMirror {
    height: auto;
}

.cm-marker-annotation {
    color: #c3a0a0;
}

.cm-marker-chord {
    color: #88b388;
}

.cm-marker-lyric {
    color: #b2b2d2;
}

.cm-start-annotation {
    color: #b22222;
    background-color: #c3a0a0
}

.cm-start-chord {
    color: #0f860f;
    background-color: #88b388;
}

.cm-start-lyric {
    color: #00008b;
    background-color: #b2b2d2;
}


.cm-annotation {
    color: #b22222
}

.cm-chord {
    color: #0f860f
}

.cm-lyric {
    color: #00008b
}

.cm-section {
    color: #777;
}
